
  .basket-page{
    background: #ddc8bf;
}

.products{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.grund{
  display: grid;
  grid-column: 1;
}
.abzac{
    margin-bottom: 40px;
    margin-left: 3%;
}
.card-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    flex-direction: row;
    margin-bottom: 20px;
    
  }
  .cart-wrapper{
      display: flex;
      flex-direction: row;
  }
  .card-info{
    font-size: 18px;
  }
  .sumBlock{
    height: auto;
    color: white;
    margin-right: 150px;
  }
  .total-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    border: solid 3px white;
    top: 100px; 
    padding: 20px;
    align-items: stretch; /* Растягиваем контейнер по вертикали */
}

.grund-item{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 30px;
}
.total-item{
    margin-bottom: 15px;
}
.promo{
    margin-top: 80px;
}
.line {
    border: none;
    border-top: 1px solid white;
    margin: 10px 0;
    width: 100%;
}
.ende-item{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
}
  .image-container {
    flex: 1;
    bottom: 0;
    left: 0;
    background: white;
    height: 300px;
    width: 90%;
    display: flex; /* Добавлено */
    justify-content: center; /* Добавлено */
    align-items: center; /* Добавлено */
  }
  
  .image-container img {
    width: 100%; 
    height: 100%; /* Изменено */
    object-fit: contain; 
  }
  .info-container {
    flex: 2;
    padding-left: 20px;
  }
  
  .info-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .info-container p {
    font-size: 20px;
  }

  .remove-btn{
margin-top: 20px;
font-size: 15px;
padding: 5px;
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
  }
  


  