.log-seite {
    margin-top:10%;
    display: flex;
    position: relative;
    left: 12%;
}
body.AllContent{
    margin: 0; /* Убрать отступы у body */
    background-color: #ddc8bf;
    overflow-x: hidden; 
    height: 100%;
}
.log-seite .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:60px;
}
.card{
    /* border: 1px solid black; */
    width: 320px;
    height: 524px;
}
.card a{
    color:black;
}
.content .foto{
    width:100%;
    height: 424px;
}
.content h1{
    padding: 5px;
}
.card .btn p{
    font-size: 20px;
    margin: 0;
    color: orange;
}
.card .btn a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.buyBtn{
    background: #ddc8bf;
    border:none;
    cursor: pointer;
    font-size: 20px;
}
.card .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.morebtn{
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background: #5A4467;
    left: 45%;
    right: 45%;
    text-align: center;
    color: white;
    align-items: center;
}