body{
  background: #ddc8bf;
}

::placeholder {
  color: #fff;
}

.grund .container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  height: auto;
  margin-top: 100px;
  border: white 3px solid;
  border-radius: 5px;
}

.grund .sign-in-form {
  color: white;
  border-radius: 5px;
  padding: 20px;
}

.grund .text {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.grund .form-group label {
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.grund .form-control {
  background: #ddc8bf;
  border: solid 3px white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.grund .form-control:focus {
  border-color: #c9a58b;
  outline: none;
}

.grund .btn-login {
  background-color: #5A4467;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 150px;
}

.grund .btn-login:hover {
  background-color: #473552;
}

@media (max-width: 600px) {
  .grund .container {
    padding: 10px;
    width: 100%;
  }

  .grund .sign-in-form {
    padding: 20px;
    width: 100%;
  }
}
