.main-cbj {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}
  .auto-group-fawb-2fT {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1199999973);
    background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/1bfe8776993c2cf4f73db5fabb3ccbe78dc69ba9');
    background-position: -0.7603rem -1.4296rem;
    background-size: 110.028% 108.164%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem 15.7rem 40.6rem 15.7rem;
    width: 100%;
  }
    .header-thf {
      box-sizing: border-box;
      flex-shrink: 0;
      height: 7.9rem;
      margin-bottom: 17.3rem;
      padding: 0rem 0.55rem 0rem 18.75rem;
      width: 100%;
    }
      .auto-group-pbx7-yz1 {
        align-items: center;
        display: flex;
        height: 6.9rem;
        width: 100%;

              }        .auto-group-v6yf-ucm {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding: 2.15rem 29.1rem 1.75rem 0rem;
              }
          .item--oy3 {
            align-items: center;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 200;
            justify-content: center;
            line-height: 1.2125;
            margin-right: 9.05rem;
            white-space: nowrap;
          }
          .item--uYD {
            align-items: center;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 200;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
          }
        
        .logo-zZf {
          background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/a8f97b3c36646fc83da48980334cb5462683b39b');
          background-position: -0.0148rem -0.7667rem;
          background-size: 100.395% 116.667%;
          flex-shrink: 0;
          height: 6.9rem;
          margin-right: 46.2rem;
          position: relative;
          width: 7.5rem;
        }
        .item--G1P {
          align-items: center;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 200;
          justify-content: center;
          line-height: 1.2125;
          margin: 0.6rem 13.05rem 0rem 0rem;
          white-space: nowrap;
        }
        .frame-1-Yjb {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: calc(100% - 4.7rem);
          margin: 2.6rem 0rem 2.1rem 0rem;
        }
          .ru-Ut9 {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.2125;
            margin-right: 1rem;
            white-space: nowrap;
          }
          .vector-pSD {
            flex-shrink: 0;
            height: 0.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.2rem;
          }
        
    
    
    .norway-jJH {
      color: #ffffff;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 20rem;
      font-weight: 200;
      line-height: 1.2125;
      margin: 0rem 0.2rem 3.3rem 0rem;
      white-space: nowrap;
    }
    .item--RB7 {
      align-items: center;
      backdrop-filter: blur(0.2rem);
      background-color: rgba(255, 255, 255, 0.4499999881);
      border: solid 0.1rem rgba(255, 255, 255, 0.5);
      border-radius: 0.8rem;
      box-sizing: border-box;
      color: #ffffff;
      display: flex;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 200;
      height: 6.4rem;
      justify-content: center;
      line-height: 1.2125;
      margin: 0 59.5rem;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      width: calc(100% - 119rem);
    }
    .auto-group-fawb-2fT-bg {
      background-image: url('REPLACE_IMAGE:1bfe8776993c2cf4f73db5fabb3ccbe78dc69ba9');
      height: 100.8rem;
      position: relative;
      width: 192rem;
    }
  
  .auto-group-av5x-W65 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 8.8rem 31.4rem 19.2rem 31.5rem;
    width: 100%;
  }
    .item--Cjb {
      flex-shrink: 0;
      height: 80rem;
      margin: 0rem 0.3rem 9.9rem 0rem;
      position: relative;
      width: 128.8rem;
    }
      .dessy-dimcheva-zemowl-9mhc-unsplash-1-hwF {
        height: 25.8rem;
        left: 39.1rem;
        object-fit: cover;
        position: absolute;
        top: 54.2rem;
        vertical-align: top;
        width: 38.4rem;
      }
      .taneli-lahtinen-fzthdgl6vbi-unsplash-1-Ct1 {
        background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/85387b40e3cc7b7eb54f6fe3e8dd270fd4c83e2c');
        background-position: -3.509rem -0.0354rem;
        background-size: 114.547% 100.67%;
        height: 62.6rem;
        left: 0;
        position: relative;
        top: 0;
        width: 44rem;
      }
      .item--5wo {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 200;
        height: 37.9rem;
        left: 66.1rem;
        line-height: 1.2125;
        position: absolute;
        top: 13.2rem;
        width: 62.7rem;
      }
      .item--pTT {
        color: #000000;
        font-family: Playfair Display, 'Source Sans Pro';
        font-size: 3.4rem;
        font-weight: 400;
        height: 9.1rem;
        left: 66.1rem;
        line-height: 1.3325;
        position: absolute;
        top: 0;
        width: 62.3rem;
      }
    
    .item--qtM {
      color: #000000;
      flex-shrink: 0;
      font-family: Playfair Display, 'Source Sans Pro';
      font-size: 3.4rem;
      font-weight: 400;
      line-height: 1.3325;
      margin: 0rem 0rem 8.2rem 7rem;
      white-space: nowrap;
    }
    .item--udK {
      flex-shrink: 0;
      height: 190.9rem;
      margin: 0rem 0.1rem 8.6rem 0rem;
      overflow: hidden;
      position: relative;
      width: 129rem;
    }
      .auto-group-b4vx-cnd {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0.2rem 0rem 9.3rem 0rem;
        row-gap: 9.3rem;
        width: 100%;
      }
        .auto-group-75bo-w4D {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: 30.7rem;
          margin-right: 18.9rem;
          width: calc(100% - 18.9rem);
        }
          .image-16-ToF {
            background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/9d837130f02607a7e33cd651c18fdc2932baedf2');
            background-position: 0 -1.166rem;
            background-size: 100% 107.671%;
            flex-shrink: 0;
            height: 30.4rem;
            margin-right: 6.5rem;
            position: relative;
            width: 50.4rem;
          }
          .auto-group-e3xw-ABs {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
          }
            .item--6LR {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.5rem;
              white-space: nowrap;
            }
            .trolltunga-active-trolltunga-adventure--nU9 {
              color: #818181;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 7.3rem;
              max-width: 53.2rem;
            }
            .auto-group-ajqm-9CD {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
            }
              .vector-5rZ {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9rem;
              }
              .item-159999-RfX {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 9.3rem;
                white-space: nowrap;
              }
              .vector-xQZ {
                flex-shrink: 0;
                height: 2.8rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 3rem;
              }
              .item-1-12-hd3 {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 6.6rem;
                white-space: nowrap;
              }
              .vector-dWh {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.4rem;
              }
              .item-2--n8h {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
              }
            
        
        .auto-group-berf-i2M {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: 30.7rem;
          margin-right: 15.3rem;
          width: calc(100% - 15.3rem);
        }
          .image-17-34d {
            background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/35486f7de0c2905b3788008c5dc04ce5517c41e7');
            background-position: -22.7132rem 0;
            background-size: 146.154% 100%;
            flex-shrink: 0;
            height: 30.4rem;
            margin-right: 6.5rem;
            position: relative;
            width: 50.4rem;
          }
          .auto-group-k3cv-kDw {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
          }
            .item--uMj {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.5rem;
              white-space: nowrap;
            }
            .item--Nm7 {
              color: #818181;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 9.5rem;
              max-width: 56.3rem;
            }
            .auto-group-r9wr-mKP {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
            }
              .vector-Jq7 {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9rem;
              }
              .item-89999-FkM {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 10.4rem;
                white-space: nowrap;
              }
              .vector-zC9 {
                flex-shrink: 0;
                height: 2.8rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 3rem;
              }
              .item-5-15-j9j {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 6.2rem;
                white-space: nowrap;
              }
              .vector-TrR {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.4rem;
              }
              .item-2--1N9 {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
              }
   
        .auto-group-s417-vV7 {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: 30.7rem;
          margin-right: 19rem;
          width: calc(100% - 19rem);
        }
          .image-18-deR {
            flex-shrink: 0;
            height: 30.4rem;
            margin-right: 6.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 50.4rem;
          }
          .auto-group-r4fk-APT {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
          }
            .item--KXF {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.5rem;
              white-space: nowrap;
            }
            .item--r1P {
              color: #818181;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 13.8rem;
              max-width: 53.1rem;
            }
            .auto-group-sxvo-erM {
              align-items: center;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
            }
              .vector-nSm {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9rem;
              }
              .item-159999-KBo {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 9.3rem;
                white-space: nowrap;
              }
              .vector-EpZ {
                flex-shrink: 0;
                height: 2.8rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 3rem;
              }
              .item-5-10-atR {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 6.2rem;
                white-space: nowrap;
              }
              .vector-vxH {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.4rem;
              }
              .item-3--5qB {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
              }
     
        .auto-group-n4hf-omB {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: 30.7rem;
          margin-right: 18.9rem;
          width: calc(100% - 18.9rem);
        }
          .image-19-MGu {
            background-image: url('/api/try-prod-us-east-2-first-cluster/projects/CShDNfM9JGJYtwUcYJt6jb/files/image/c90e0cc2651c8fe31a87839977e91ecc11ca5c6f');
            background-position: -8.2574rem 0;
            background-size: 123.792% 100%;
            flex-shrink: 0;
            height: 30.4rem;
            margin-right: 6.5rem;
            position: relative;
            width: 50.4rem;
          }
          .auto-group-wvgm-Tqj {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
          }
            .item--pRP {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.5rem;
              white-space: nowrap;
            }
            .item--7vH {
              color: #818181;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 9.5rem;
              max-width: 53.2rem;
            }
            .auto-group-jbfp-Y1w {
              align-items: flex-end;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
            }
              .vector-5Xf {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9rem;
              }
              .item-159999-dJH {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 9.3rem;
                white-space: nowrap;
              }
              .vector-Mzy {
                flex-shrink: 0;
                height: 2.8rem;
                margin: 0rem 1.1rem 0.2rem 0rem;
                object-fit: contain;
                vertical-align: top;
                width: 3rem;
              }
              .item-1-12-VbP {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 6.6rem;
                white-space: nowrap;
              }
              .vector-2rD {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.4rem;
              }
              .item-2--acq {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
              }
 
        .auto-group-xhgm-WFb {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: 30.7rem;
          margin-right: 16.5rem;
          width: calc(100% - 16.5rem);
        }
          .image-20-3mK {
            flex-shrink: 0;
            height: 30.4rem;
            margin-right: 6.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 50.4rem;
          }
          .auto-group-bjtw-PaH {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
          }
            .item--kQq {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.5rem;
              white-space: nowrap;
            }
            .item--Eqo {
              color: #818181;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 13.8rem;
              max-width: 53.1rem;
            }
            .auto-group-wqwy-phX {
              align-items: flex-end;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
            }
              .vector-B2H {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.9rem;
              }
              .item-179999-uys {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 9.4rem;
                white-space: nowrap;
              }
              .vector-FH3 {
                flex-shrink: 0;
                height: 2.8rem;
                margin: 0rem 1.1rem 0.2rem 0rem;
                object-fit: contain;
                vertical-align: top;
                width: 3rem;
              }
              .item-1-12-NMf {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-right: 6.6rem;
                white-space: nowrap;
              }
              .vector-74M {
                flex-shrink: 0;
                height: 3.2rem;
                margin-right: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.4rem;
              }
              .item-2--ea5 {
                color: #000000;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
              }
    
      .auto-group-zwcd-NFB {
        align-items: flex-end;
        display: flex;
        height: 30.7rem;
        margin-bottom: 9.3rem;
        width: 100%;
      }
        .image-19-KAR {
          flex-shrink: 0;
          height: 30.4rem;
          margin-right: 6.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 50.7rem;
        }
        .auto-group-ryf7-eyP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
        }
          .item--DFo {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 3.7rem;
            white-space: nowrap;
          }
          .item-867--Gzm {
            color: #818181;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            margin-bottom: 18.2rem;
            white-space: nowrap;
          }
          .auto-group-m5i9-qyK {
            align-items: center;
            display: flex;
            flex-shrink: 0;
          }
            .vector-PV3 {
              flex-shrink: 0;
              height: 3.2rem;
              margin-right: 1.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.9rem;
            }
            .item-309999-Y73 {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-right: 8.8rem;
              white-space: nowrap;
            }
            .vector-fSZ {
              flex-shrink: 0;
              height: 2.8rem;
              margin-right: 1.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 3rem;
            }
            .item-2-10-QQ9 {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-right: 6.2rem;
              white-space: nowrap;
            }
            .vector-wey {
              flex-shrink: 0;
              height: 3.2rem;
              margin-right: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.4rem;
            }
            .item-5--Uuo {
              color: #000000;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
            }
        